# Web3Forms API Key
# Replace with your actual Web3Forms access key
VITE_WEB3FORMS_KEY="4c615995-e55e-4f88-bc8e-62edd4cceb06"

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyA1lGQmgsYxNJTCqMA10qjwYcTxHhDNS-g"
VITE_FIREBASE_AUTH_DOMAIN="skdc-web-6c3c1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="skdc-web-6c3c1"
VITE_FIREBASE_STORAGE_BUCKET="skdc-web-6c3c1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="349116472263"
VITE_FIREBASE_APP_ID="1:349116472263:web:9e2393e99733b66f4897e2"
VITE_FIREBASE_MEASUREMENT_ID="G-4J75Y2L7F6"
